<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>rl-select-menu Example || Ryerson Library Web Components</title>
  <script type="module" src="/dist/rlwc/rlwc.esm.js"></script>
  <style>
    body { margin: 0 }
  </style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class='demo-content'>
  <script>
    const options = [
      "Option 1",
      "Option 2",
    ];

    let lastId = 1;

    window.onload = async () => {
      let select = document.querySelector('rl-select-menu');
      select.options = options;
    }
  </script>

  <rl-select-menu label="Select"></rl-select-menu>
  <rl-text-log></rl-text-log>
</div>
</body>
</html>