<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>rl-map Example || Ryerson Library Web Components</title>
  <script type="module" src="/dist/rlwc/rlwc.esm.js"></script>
  <style>
    body { margin: 0 }

    .map-container {
      margin: 32px;
      height: 700px;
      width: 850px;
    }

    .rl-map-symbol--computer {
      fill: #660000;
      stroke: #330000;
    }

    .rl-map-marker--available .rl-map-symbol--computer {
      fill: #006600;
      stroke: #003300;
    }

    .rl-active {
      fill: red;
    }

    svg {
      background-color: #aaa;
      user-select: none;
    }
  </style>
</head>
<body class='demo-content'>
  <script>
    // const elements = [
    //   {id: 1, icon: undefined, name: "Region 1", points: "1140 890 940 770 456 1019", enabled: true},
    //   {id: 2, icon: "demo/64.png", name: "Point 1", points: "200 300", enabled: true},
    //   {id: 3, icon: "demo/64.png", name: "Point 2", points: "200 400", enabled: true},
    //   {id: 4, icon: undefined, name: "Computer 1", points: "500 500", enabled: true, symbol: "computer", available: false, clickable: false},
    //   {id: 5, icon: undefined, name: "Computer 2", points: "600 500", enabled: true, symbol: "computer", available: true, clickable: true},
    //   {id: 6, icon: undefined, name: "Text Label", points: "700 600", enabled: true, available: true, clickable: false},
    // ];

    window.onload = async () => {
      let map = document.querySelector('rl-map');
      let log = document.querySelector('rl-text-log');
      let activeEl = undefined;

      // map.elements = [ ...elements ];

      map.addEventListener('elementSelected', evt => {
        log.log(`Element selected: ${evt.detail.id}`);
      });

      map.addEventListener('elementDeselected', evt => {
        log.log(`Element deselected: ${evt.detail ? evt.detail.id: ''}`);
      });

      setTimeout(() => {
        map.mapImage="demo/Floor_05_min.svg";
      }, 1000);

      let btn1 = document.querySelector('#btn-main');
      btn1.disabled = true;
      btn1.addEventListener('click', evt => {
        map.mapImage = "demo/Floor_05_min.svg"
        btn1.disabled = true;
        btn2.disabled = false;
      });

      // let btn2 = document.querySelector('#btn-alt');
      // btn2.addEventListener('click', evt => {
      //   map.mapImage = "demo/3840x2160_alt.png"
      //   btn1.disabled = false;
      //   btn2.disabled = true;
      // });
    }
  </script>

  <button id="btn-main">Main Image</button>
  <button id="btn-alt">Alt Image</button>
  <div class="map-container">
    <rl-map active-element-id="5"></rl-map>
  </div>
  <rl-text-log></rl-text-log>
</div>
</body>
</html>