:host {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  user-select: none;
}

.rl-svg-floorplan {
  &__svg {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.3);

    overflow: hidden;
  }

  &--selected {
    fill: var(--mdc-theme-secondary, #ffdc00);
  }
}
