@mixin rl-element-focused {
  outline: none;
  fill: var(--rl-svg__focus-fill, rgba(255, 255, 83, 0.3));
}

@mixin rl-element-activated() {
  outline: none;
  stroke: var(--rl-svg__active-stroke, rgb(199, 171, 0));
  stroke-width: var(--rl-svg__active-stroke--width, 4);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rl-map {
  display: inline-block;

  width: 100%;
  height: 100%;

  opacity: 0;
  overflow: hidden;

  &--loaded {
    opacity: 1;
    animation: fade-in 180ms ease-in;
  }
}

.rl-svg {
  width: 100%;
  height: 100%;

  &__marker {
    &:focus rect {
      @include rl-element-focused();
    }

    &--clickable {
      &:hover rect {
        @include rl-element-focused();
    
        cursor: pointer;
      }
    }

    text {
      font-size: var(--rl-svg__text-size, 48px);

      user-select: none;
    }
  }

  &__polygon {
    fill: var(--rl-svg__polygon-fill, rgba(0, 76, 155, 0.6));
    stroke: var(--rl-svg__polygon-stroke, rgb(0, 76, 155));
    stroke-width: var(--rl-svg__polygon-stroke--width, 2);

    &:focus {
      @include rl-element-focused();
    }
    
    &--activated {
      @include rl-element-activated();
      @include rl-element-focused();
    }

    &:hover {
      @include rl-element-focused();

      cursor: pointer;
    }

    &-outline {
      fill: none;
      stroke: var(--rl-svg__active-stroke, rgb(199, 171, 0));
      stroke-width: var(--rl-svg__active-stroke--width, 4);
    }

    path {
      outline: none;
    }
  }

  &__rect {
    fill: none;
    stroke: none;

    &--activated {
      @include rl-element-activated();
    }
  }

  &__symbol {
    fill: var(--rl-svg__symbol-fill, rgba(0, 76, 155, 0.6));
    stroke: var(--rl-svg__symbol-stroke, rgb(0, 76, 155));
    stroke-width: var(--rl-svg__symbol-stroke--width, 1);
    fill-rule: evenodd;

    &--alt {
      fill: var(--rl-svg__symbol-fill--alt, rgba(255, 255, 83, 0.5));
      stroke: var(--rl-svg__symbol-stroke--alt, rgb(199, 171, 0));
    }
  }
}
